@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primaryColor: theme("colors.primary");
    --primaryLightColor: theme("colors.primaryLight");
  }
}

body {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 50%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor) !important;
}

.thumbnail::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.ant-btn-primary {
  background-color: var(--primaryColor) !important;

  &:hover {
    background-color: "#fff" !important;
    border: 1px solid var(--primaryColor) !important;
  }
}

.ant-btn-default {
  border: 1px solid var(--primaryColor) !important;
}

.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
}

.ant-menu-submenu-active > .ant-menu-submenu-title {
  color: var(--primaryColor) !important;
}

.ant-menu-submenu-active > .ant-menu-submenu-title:hover {
  color: #fff !important;
}

.ant-menu-menu:hover > .ant-menu-submenu-title {
  color: #fff !important;
}

.breadcrumb-custom {
  color: #000 !important;
}

.breadcrumb-custom .ant-breadcrumb-separator {
  color: #000 !important;
}

.breadcrumb-link {
  color: #000 !important;
  text-decoration: none;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.custom-menu .ant-menu-item::after {
  border-bottom: none !important;
}

.ant-form-item-label {
  font-weight: 700 !important;
}

.ant-drawer-header {
  display: none !important;
}
.ant-table-content {
  max-width: 1800px !important;
  overflow-x: auto !important;
}

.swiper-button-prev {
  display: none !important;
}
.swiper-button-next {
  display: none !important;
}

.two-grid {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-4;
}
.three-grid {
  @apply grid grid-cols-1 lg:grid-cols-3 gap-4;
}
.my-container {
  @apply container mx-auto px-5;
}

.swiper-slide-thumb-active img {
  border-color: var(--primaryColor) !important;
}
